html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  width: 600px;
  margin: 0 auto;
}

header {
  background-color: darkred;
  color: white;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

section article {
  background-color: lightgray;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

h2 {
  margin: 0;
}

ul {
  margin: 0;
}
